player-connection-mode=Listen
player-connection-guid=489927359
player-connection-debug=0
player-connection-project-name=Multiplayer VR Development Project
player-connection-ip=10.176.74.200
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
vr-enabled=1
vr-device-list=OpenVR,Oculus
hdr-display-enabled=0
